*{
  background-color: #282c34;
  color: rgb(215, 214, 214);
}
.contentJuego{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.containerJuego{
  display: flex;
  flex-direction: column;
  align-items: center;
}
li{
  margin-bottom: 20px;
}
img{
  max-width: 50%;
  min-width: 50%;
  max-height: 200px;
  min-height: 200px;
  object-fit: fill;
}